#bigBall {
	background: black;
	border-radius: 100%;
	color: green;
	text-align: center;
	
	width: 200px;
	height: 200px;

}
#answerSubmit{
	margin: 20%;
	text-align: center;
}

#newJokes {
	margin: 0, 20%, 0, 20%;
	

}
#Jokes {

	text-align: center;
	top: 80;
}

